<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- BookRepository Bean -->
    <bean id="bookRepository" class="org.library.repository.BookRepository" />

    <!-- BookService Bean with constructor and setter injection -->
    <bean id="bookService" class="org.library.service.BookService">
        <!-- Constructor Injection -->
        <constructor-arg value="City Central Library"/>

        <!-- Setter Injection -->
        <property name="bookRepository" ref="bookRepository" />
    </bean>

</beans>

